<main>
  <p id="notice"></p>
  <div class="container book-edit">
    <div class="row">
      <div class="col-md-8">
        <h1>User info</h1>

        <% if @user.errors.any? %>
          <%= @user.errors.count %> error prohibited this obj from being saved:
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @user do |f| %>
	        <div for="inputName">Name</div>
          <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: current_user.name %>
          <div for="inputImage">Image</div>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          <div for="inputIntroduction">Introduction</div>
          <%= f.text_area :introduction, placeholder: "" %>
          <div><%= f.submit "Update User" %></div>
       <% end %>

      </div>
    </div>
  </div>
</main>