<h1>Users</h1>
<p>image</p>
<p>name</p>
<div>
  <% @users.each do |user| %>
  <%= image_tag user.get_profile_image(100,100) %>
  <p><%= user.name %></p>
  <p><%= link_to 'Show', user_path(user) %></p>
</div>
<% end %>

<!-- 部分テンプレート User info1 -->
<%= render 'books/info1' %>

<!-- 部分テンプレート New Book -->
<%= render 'books/list', book: @book %>