<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class="col-lg-8">
  <h1>Books</h1>
  <p>title</p>
  <p>Opinion</p>
  <div>
    <% @books.each do |book| %>
    <%= link_to user_path(book.user.id) do %>
      <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>
    <p><%= link_to book.title, book_path(book) %></p>
    <p><%= book.body %></p>
  </div>
  <% end %>
</div>


<!-- 部分テンプレート User info1 -->
<%= render 'info1' %>

<!-- 部分テンプレート New Book -->
<%= render 'list', book: @book %>