<!-- index -->
<h1>Book</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag book.get_image %>
  <p>Title <%= book.title %></p>
  <p>Opinion <%= book.body %></p>
</div>
<% end %>

<!-- 新規投稿 -->
<h1>New Book</h1>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <div><%= f.submit 'Create Book' %></div>
  <% end %>