<h1>Book detail</h1>
<div>
    <%= image_tag @book.user.get_profile_image(100,100) %>
    <p><%= link_to @book.user.name, user_path(@book.user) %></p>
    <p><%= link_to @book.title, book_path(@book.id) %></p>
    <p><%= @book.body %></p>
    <% if @book.user == current_user %>
       <%= link_to "Edit", edit_book_path(@book.id) %>
       <%= link_to "Destroy", book_path(@book.id), method: :delete %>
    <% end %>
</div>

<h1>User info</h1>
<div>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <p>name <%= @book.user.name %></p>
  <p>introduction <%= @book.user.introduction %></p>
  <div class="row">
    <%= link_to edit_user_path(current_user) do %>
      <i class="fas fa-user-cog edit"></i>
    <% end %>
  </div>
</div>

<!-- 部分テンプレート New Book -->
<%= render 'list', book: @book %>