<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="navbar-brand p-3"><%= link_to 'Bookers', root_path %></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li>
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <%= link_to "Users", users_path %>
              </li>
              <li>
                <%= link_to "Books", books_path %>
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </li>
              <% else %>
              <li>
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <%= link_to "About", about_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "Log in", new_user_session_path %>
              </li>
              <% end %>
              </ul>
            </div>
        </div>
      </nav>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>

  <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>

</html>
